@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/lancamentos.css);
@import url(/styles/vendidos.css);
@import url(styles/topicos.css);
@import url(styles/novidades.css);
@import url(styles/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --cor-fundo: #EBECEE;
    --cor-fundo-header: #104063;
    --cor-branco: white;
    --cor-laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-preta: #000000;
    --cor-amarelo: #EB9B00;



    --font-padrao: "Poppins", sans-serif;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--font-padrao);
    color: var(--cor-preta);
    font-size: 16px;
    font-weight: 400;
}

