.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu{
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.conteiner{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1rem;
}

.conteiner__botao{
    display: none;   
}

.conteiner__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;

    background-color: var(--cor-branco);
    padding: 1rem;
}

.lista-menu__titulo{
    font: normal 700 1rem var(--font-padrao);
    color: var(--cor-laranja);

}

.lista-menu__link{
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.lista-menu__titulo,
.lista-menu__itens{
    padding: 1rem;
    background-color: var(--cor-branco);
}
