.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu{
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.conteiner{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1rem;
}

.conteiner__botao:checked ~ .lista-menu{
    display: block;
}

.conteiner__botao:checked ~ .menu__interage > .cabecalho__menu{
    background-image: url(../assets/Menu\ Aberto.svg);
}

.conteiner__botao:checked ~ .menu__interage{
    background: var(--azul-degrade);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    margin-left: 1rem
}

.lista-menu__titulo{
    font: normal 700 1rem var(--font-padrao);
    color: var(--cor-laranja);

}

.lista-menu__link{
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista-menu__titulo,
.lista-menu__itens{
    padding: 1rem;
    background-color: var(--cor-branco);
}

.cabecalho__titulo,
.conteiner__texto,
.opcoes, 
.conteiner__botao{
    display: none;
}


@media screen and (min-width:1024px) {

    .cabecalho__menu{
        display: none;
    }

    .cabecalho__titulo{
        font: normal 400  1.8rem var(--font-secundaria);
        display: block;
    }
    
    .titulo-negrito{
        font: normal 700 1.8rem var(--font-secundaria);
    }

    .opcoes{
        display: flex;
    }

    .opcoes__botao:checked ~ .opcoes__interage > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--cor-branco);
    }

    .opcoes__item{
        padding: 2em 1em;
        margin-left: 1rem;
    }

    .opcoes__item,
    .opcoes__link{
        font: normal 400 1rem var(--font-padrao);
    }

    .opcoes__link{
        color: var(--cor-preta);
        text-decoration: none;
    }

    .container__imagem-tranparente{
        display: none;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
    }

    .lista-menu__itens:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__itens:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--cor-branco);
    }
}

@media screen and (min-width:1728px) {
    .container__opcoes{
        margin-right: auto;
    }

    .conteiner__link{
        display: flex;
        align-items: center;
        margin-right: 1rem;
        text-decoration: none;
    }

    .conteiner__texto{
        display: block;
    }
    
    .cabeçalho {
        padding: 0 2em;
    }
}